<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="My FreeCodeCamp Timestamp microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <header>
      <h1>FCC - Apis and Microservices Projects - Timestamp Microservice</h1>
    </header>
    <main>
      <p class="bold">Test Usage:</p>
      <a href="https://able-cupcake-fcc-timestamp-microservice.glitch.me/api/timestamp/2015-12-25" target="_blank">[project-url/api/timestamp/2015-12-25]</a><br/>
      <a href="https://able-cupcake-fcc-timestamp-microservice.glitch.me/api/timestamp/1450137600000" target="_blank">[project-url/api/timestamp/1450137600000]</a>
    </main>
    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
  </body>
</html>
